@page "/exercises"
@inject IDbContextFactory<LiftrContext> DbFactory

<PageTitle>Exercises</PageTitle>

<h1 class="text-xl">Exercises</h1>

<div class="flex flex-col gap-3">
  @foreach (var exercise in exercises)
  {
    <div class="p-3 shadow rounded max-w-md mb-2">
      <h3>@exercise.Name</h3>
    </div>
  }
</div>

@code {
  private bool Loading;

  private List<Exercise> exercises = new List<Exercise>();

  protected override async Task OnInitializedAsync()
  {
    if (Loading)
    {
      return;
    }

    Loading = true;

    await LoadExercises();
  }

  private async Task LoadExercises()
  {
    await using var db = DbFactory.CreateDbContext();

    exercises = await db.Exercises.ToListAsync();

    Loading = false;
  }
}